%h1.page-header Listing Events

.panel.panel-default
  .panel-heading Events
  %table.table
    %thead
      %tr
        %th Name
        %th.com-md-2 Starts
        %th.col-md-2 Actions
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, [:admin, event]
          %td= natural_time event.start_time
          %td
            = link_to 'Edit', edit_admin_event_path(event), class: 'btn btn-primary'
            = link_to 'Delete', [:admin, event], method: :delete, data: { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
  .panel-footer
    = link_to 'New Event', new_admin_event_path, { class: 'btn btn-primary' }
