= form_for "#{model}_import".to_sym, url: url_for(action: :import, only_path: true, controller: controller) do |form|
  .panel.panel-default
    .panel-heading= "Import a #{name}"
    .panel-body
      %fieldset
        .input-group
          %span.input-group-addon facebook.com/
          = form.text_field :page, class: 'form-control', placeholder: 'page' 
    .panel-footer.clearfix
      .pull-left
        = link_to 'Cancel', url_for(action: 'index', only_path: true, controller: controller), class: 'btn btn-danger'
      .pull-right
        = form.submit 'Import', class: 'btn btn-success'