%h1.cover-heading Make a Scene.
%p.lead
  Hot Mess is your mobile link to the local gay nightlife.  Whether in your home town or while you're traveling, the details are here.
%p.lead
  = link_to 'https://itunes.apple.com/us/app/hot-mess-gay-nightlife/id1195758383?ls=1&mt=8' do
    = image_tag 'en_app_store.svg', size: '180x60'

%p
  = image_tag 'ss_now.png', class: 'ss'
  = image_tag 'ss_venues.png', class: 'ss'
  = image_tag 'ss_events.png', class: 'ss'
  = image_tag 'ss_people.png', class: 'ss'