

.row
  .page-header
    %h1= @venue.name
    %h3= @venue.about

.row
  .col-md-8
    - if @venue.description || @venue.cover
      .panel.panel-primary
        .panel-body
          - if @venue.description
            %p
              = @venue.description
          - if @venue.cover
            %img{ src: @venue.cover.source, style: 'width: 100%' }

  .col-md-4
    .panel.panel-default
      .panel-heading About
      .panel-body
        %p
          %b Address
        %p
          = @venue.location
        %p
          %b Phone number
        %p
          = @venue.phone
        %p
          %b Facebook Page
        %p
          = link_to @venue.facebook_url, @venue.facebook_url
    - if is_admin?
      .panel.panel-default
        .panel-heading Administration
        .panel-body
          %p
            %b Imported At
          %p
            = @venue.imported_at
          %p
            %b Imported By
          %p
            - if @venue.imported_by
              = @venue.imported_by.name
            - else
              System
          .clearfix
            .pull-left
              = link_to 'Delete', [:admin, @venue], method: :delete, data: { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
              = link_to 'Edit', edit_admin_venue_path(@venue), class: 'btn btn-primary'
              = link_to 'Back', admin_venues_path, class: 'btn btn-default'
            .pull-right
              = form_for :import_venue, url: import_admin_venues_path do |form|
                = hidden_field_tag :import_venue_page, @venue.facebook_id
                = form.submit 'Refresh', class: 'btn btn-success'



- if is_admin? && Rails.env == 'development'
  %p.text-muted
    = @venue.inspect