!!!
%html{ lang: 'en' }
  %head
    %meta( charset="utf-8"  )
    %meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    %meta( viewport="width=device-width, initial-scale=1" )
    %meta{ name: 'fb-app', value: Rails.application.config.secrets.facebook['app_id'] }
    %title Hot Mess Seattle
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    /[if lt IE 9]
      %script( src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript" )
      %script( src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript" )
  %body( role="document" )

    = render partial: 'shared/navigation'

    .container( role="main" )
      - if flash[:notice]
        %p#notice.bg-primary.flash= flash[:notice]
      - if flash[:danger]
        %p#flash_danger.bg-danger.flash= flash[:danger]
      - if flash[:success]
        %p#flash_success.bg-success.flash= flash[:success]
      - if flash[:warning]
        %p#flash_warning.bg-warning.flash= flash[:warning]

      = yield
    #body_script_tags
      = javascript_include_tag 'application'
    #fb-root